<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>healthkit2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>39AE485C1CA52FF40016B5AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39AE48751CA52FF40016B5AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39AE48801CA52FF40016B5AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
